---
htmlmin: true
isPage: true
layout: base
scripts: [ 'bower_components/bootstrap-youtube/bootstrap.youtubepopup.min.js', 'bower_components/query-string/query-string.min.js', 'bower_components/sniffr/dist/sniffr.min.js', 'bower_components/zeroclipboard/dist/ZeroClipboard.min.js', 'js/video.js', 'js/htm-studio.js' ]
styles: [ 'css/htm-studio.css' ]
title: HTM Studio
---

<div class="htm-studio">
  {{partial 'htm-studio/hero'}}
  {{partial 'htm-studio/features'}}
  {{partial 'htm-studio/uses'}}
  {{partial 'htm-studio/start'}}
  {{partial 'htm-studio/faq'}}
  {{partial 'htm-studio/resources'}}
  {{partial 'htm-studio/modal-terms'}}
</div>
