---
htmlmin: true
isPage: false
---

<section class="hero">
  <div class="container">

    <h1 class="text-center">Experience HTM.</h1>
    <h3 class="text-center">Find anomalies in publicly traded stocks using trading and Twitter data.</h3>

    <div class="row">
      <div class="col-md-6 col-lg-7">

        <img src="/assets/img/pages/htm-for-stocks/htm-for-stocks.png" class="logo img-responsive" alt="HTM for Stocks logo" />
        <p>
          HTM for Stocks is an example HTM application that continually
          monitors hundreds of publicly traded companies and alerts you if
          something unusual is happening to any of them. HTM for Stocks uses
          <a href="{{site.paths.pages.home}}{{site.paths.partials.home.technology}}">HTM machine intelligence algorithms</a>
          to model stock price, stock volume, and Twitter data related to 200
          of the largest publicly traded companies. Companies monitored include
          Apple, Google, Amazon, and Starbucks. HTM for Stocks is a mobile
          application that runs on both iOS and Android-based phones.
        </p>
        <p>
          HTM for Stocks is an example application and is available for free.
          We invite you to
          <a href="{{site.paths.partials.htmstocks.get}}">register to give feedback</a>
          or <a href="mailto:{{site.email.feedback}}">send us an email</a>.
        </p>
        <p>
          Numenta has made the source code for HTM for Stocks available
          alongside the
          <a href="{{site.paths.ext.nupic}}">NuPIC open source project</a> to
          encourage others to create new and derivative products.
          <a href="{{site.paths.pages.contact}}">Contact us</a> with questions
          or interest.
          <a href="{{site.paths.ext.htmstocks.source}}">Review the source code.</a>
        </p>

      </div>
      <div class="col-md-6 col-lg-5">

        <img src="/assets/img/pages/htm-for-stocks/handheld.png" class="img-responsive hand" alt="HTM for Stocks mobile app screenshot" />

      </div>
    </div><!-- .row -->

  </div><!-- .container -->
</section><!-- .hero -->
