---
htmlmin: true
isPage: true
layout: base
styles: [ 'css/htm-for-stocks.css' ]
title: HTM for Stocks
---

<div class="htm-for-stocks">
  {{partial 'htm-for-stocks/hero'}}
  {{partial 'htm-for-stocks/features'}}
  {{partial 'htm-for-stocks/how'}}
  {{partial 'htm-for-stocks/uses'}}
  {{partial 'htm-for-stocks/get'}}
</div>
